@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .childs-mt-1 > * + * {
    margin-top: 0.25rem;
  }

  .childs-mt-2 > * + * {
    margin-top: 0.5rem;
  }

  .childs-mt-4 > * + * {
    margin-top: 1rem;
  }
}

html {
  @apply text-base;
}

body {
  @apply bg-gray-50;
}
