{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint", "lodash"],
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:all",
    "plugin:react/all",
    "plugin:@typescript-eslint/recommended",
    "plugin:lodash/recommended"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn",
    "object-curly-spacing": "off",
    "quotes": "off",
    "semi": "off",
    "no-extra-parens": "off",
    "indent": "off",
    "quote-props": "off",
    "id-length": "off",
    "comma-dangle": "off",
    "one-var": "off",
    "jsx-quotes": "off",
    "spaced-comment": "off",
    "padded-blocks": "off",
    "array-element-newline": "off",
    "implicit-arrow-linebreak": "off",
    "function-call-argument-newline": "off",
    "sort-imports": "off",
    "max-lines-per-function": "off",
    "max-len": "off",
    "multiline-ternary": "off",
    "no-ternary": "off",
    "sort-keys": "off",
    "object-property-newline": "off",
    "no-use-before-define": "off",
    "consistent-return": "off",
    "arrow-body-style": "off",
    "line-comment-position": "off",
    "no-inline-comments": "off",
    "capitalized-comments":"off",
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": "off",
    "react/jsx-indent": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-max-props-per-line": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-sort-props": "off",
    "react/jsx-newline": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-no-literals": "off",
    "@typescript-eslint/array-type": [
      "error",
      { "default": "generic", "readonly": "generic" }
    ],
    "lodash/preferred-alias": "off"
  }
}
